body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgba(50, 111, 218);
}
/*Estilização do LogoTipo*/
.logo{
    width: 50%;
    
}
/*Estilização do menu*/
nav{
    right: 0;
    padding-left: 400px;
    position: absolute;
    top: 80px;

}
nav li {/*modificando o espaçamento do menu*/
    display: inline;
    margin: 0 0 0 15px;
}
nav a{/*Modificando a fonte do menu*/
    text-transform: uppercase;
    color: white;
    font-weight: Comic;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{/*Quando passar o mouse encima*/
    color: black;
    text-decoration: underline;
}
.logo_caixa{
    width: 940px;
    position: relative;
    margin-right: 950px;
}



/* Estilos para o formulário de cadastro */
#formfind {
    max-width: 400px;
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: left; /* Alinhar os elementos à esquerda */
}

/* Estilos para os rótulos (labels) */
#formfind label {
    display: block;
    margin-bottom: 5px;
    text-align: left; /* Alinhar os rótulos à esquerda */
}

/* Estilos para os campos de entrada (input) */
#formfind input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para o botão de envio (button) */
#formfind button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#formfind button:hover {
    background-color: #0056b3;
}

.chk{
    margin: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
footer{
    text-align: center;
    background-color: rgba(50, 111, 218);    
    padding: 60px;
    margin: 0;
}
    .copyright{
        color: white;
        font-size: 12px;
        margin: 20px;
        
    }
    .logo_footer{
        width: 20%;
    }