/*Estilização geral do site*/
body{
    font-family: "Arial" ;
    margin: 0;
    padding: 0;
    border: 0;
}
/*Estilização do header da pagina*/
header{
    background-color: rgba(50, 111, 218);
}
/*Estilização do LogoTipo*/
.logo{
    width: 50%;
    
}
/*Estilização do menu*/
nav{
    right: 0;
    padding-left: 400px;
    position: absolute;
    top: 80px;

}
nav li {/*modificando o espaçamento do menu*/
    display: inline;
    margin: 0 0 0 15px;
}
nav a{/*Modificando a fonte do menu*/
    text-transform: uppercase;
    color: white;
    font-weight: Comic;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{/*Quando passar o mouse encima*/
    color: black;
    text-decoration: underline;
}
.logo_caixa{
    width: 940px;
    position: relative;
    margin-right: 950px;
}
.banner{
    width: 100%;
   
}
/*Estilização da imagem*/
.aviao{
    width: 120px;
    float: left;
    margin: 0 20px;
}
.tituloaviao{
    clear: left;
    text-align: center;
    font-size: 40px;
    
}
.area-aviao{
    width: 80%;
    text-align: center;
    margin: auto;
    background-color: white;
}
/*titulo-padrao*/
.titulo-padrao{
    
    text-align: center;
    font-size: 40px;
}
/*Estilizaçao da sessao Nosso estabelecimento (mapa)*/
.mapa{
    background: linear-gradient(white,blue);
}
.mapa p{
    text-align: center;
}
.mapa iframe{
       margin: auto;
       display: block;
}
/*estilizacao da sessao beneficios*/
.beneficios{
    padding: 3%;
    background: linear-gradient(blue,white);
}

.conteudo_beneficios{
    width: 100%;
    margin: 0 auto;
}
.lista_beneficios{
    width: 20%;
    display: inline-block;
    vertical-align: top;
    list-style: "😎";
    padding-left: 30%;
    margin-top: 30px;
}
.itens{
    /*espacamento entre linhas*/
    line-height: 1.5;
}
.itens_before{
    content: "😎✔";
}
.itens:first-child{
    font-weight: bold;
}
.img_beneficios{
    width: 15%;
    box-shadow: 10px 10px 5px 0px black;
    opacity: 1;
    transition: 300ms;
    
}
.img_beneficios:hover{
    opacity: 0.7;
}
.video{
    text-align: center;
    padding: 2%;
}
footer{
    text-align: center;
    background-color: blue;
    padding: 40px;
    margin: 0;
}
    .copyright{
        color: white;
        font-size: 12px;
        margin: 20px;
        
    }
    .logo_footer{
        width: 20%;
    }