/*Estilização geral do site*/
body{
    font-family: "Arial" ;
    margin: 0;
    padding: 0;
    border: 0;
}
/*Estilização do header da pagina*/
header{
    background-color: rgba(50, 111, 218);
}
/*Estilização do LogoTipo*/
.logo{
    width: 50%;
    
}
/*Estilização do menu*/
nav{
    right: 0;
    padding-left: 400px;
    position: absolute;
    top: 80px;

}
nav li {/*modificando o espaçamento do menu*/
    display: inline;
    margin: 0 0 0 15px;
}
nav a{/*Modificando a fonte do menu*/
    text-transform: uppercase;
    color: white;
    font-weight: Comic;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{/*Quando passar o mouse encima*/
    color: black;
    text-decoration: underline;
}
.logo_caixa{
    width: 940px;
    position: relative;
    margin-right: 950px;
}
footer{
    text-align: center;
    background-color: blue;
    padding: 60px;
    margin: 0;
}
    .copyright{
        color: white;
        font-size: 12px;
        margin: 20px;
        
    }
    .logo_footer{
        width: 20%;
    }
   
    .titulo-planos{
        text-align: left;
        color: blueviolet;
    }
    .texto{
        text-align: center;
        
    }
    .titulo-planos::before{
        content: "🛒";
    }
    .imagem_vetor{
        width: 20%;
    }

    .borda{
        width: 220px;
        height: 200px;
        border-color: black;
        border-width: 2px;
        border-style: solid;
        text-align: center;
        border-radius: 5%;
        display: inline-block;
        margin: 20px;
    }
    .conjunto{
        width: 60%;
        margin: 0 0 0 500px;
        display: inline-block;
        padding: 80px;
    }
    .borda:hover{
        transform: scale(1.2);
    }